<%= provide(:title, "About Us") %>

<div class="row">
	<div class="large-12 columns">
		<h1>About Us</h1>
	</div>
</div>
<div class="row">
	<div class="large-10 large-offset-1 columns">
		<h4>Serving small and medium-sized businesses in the Frisco area for over 10 years</h4>
		<p>Color Craze began in 2003 as a family-owned and operated print shop focused on providing exceptional service to other small and medium-sized businesses in the Frisco, TX area. Like our customers, we live, shop, play and raise our families in the Frisco / Plano / McKinney area. We love being small business owners but can also relate (all too well) to the challenges they face.</p>
		<p>Like many of our customers, we face competition from large, faceless, national corporations. And in many cases we have to rely on those types of vendors ourselves.</p>
		<p>Printing has always been a local business, and for good reason. The products we print for you become the face of your company. Your business cards, your brochures, your direct mail... when a potential client looks at a piece of paper with your brand on it, they need to see and feel the care and pride you take in your business. This is too important to trust to an anonymous employee of a large corporation.</p>
		<p>We hope you agree with our philosophy. And we hope to have the opportunity to work with you soon.</p>
		<h4 id="signature">- The Color Craze family</h4>
	</div>
</div>


