<%= provide(:title, "Customers") %>
<div class="row">
	<div class="large-10 large-offset-1 columns">
		<h1>Customers</h1>
		<p>Color Craze serves many prominent customers in the Frisco and Plano communities, including real estate agencies, churches, municipal departments, gift card / invitation designers, furniture retailers, merchandisers, and many others. Our reputation for quality and customer service is exceptional, leading to an outstanding record of retaining top customers.</p>
		<p>Contact us to see what all the fuss is about.</p>
	</div>
	<div class="large-1 columns">
	</div>
</div>
<div class="row">
	<div class="large-10 large-offset-1 columns">

	</div>
</div>



