<% provide(:title, 'Home') %>
<div class="row">
	<div class="large-4 push-8 columns" id="quoteBox">
		<%= render 'shared/lead_form' %>
	</div>
	<div class="large-8 pull-4 columns" id="mainMarquee">
		<h4>PREMIUM DIGITAL PRINTING AT REASONABLE PRICES</h4>
		<ul>
			<li>Full-service capabilities: design, printing, package assembly, mailing</li>
			<li>Free delivery throughout Frisco and Plano</li>
			<li>Specialists in small-run jobs (50-5,000 pieces)</li>
			<li>State of the art equipment</li>
			<li>Family owned and operated</li>
		</ul>
	</div>
</div>
<div class="thinSpacerRow"></div>
<div class="row">
	<div class="large-12 columns" id="cigarBand"><h3>We turn around quotes in less than 1 business day</h3></div>
</div>
<div class="thinSpacerRow"></div>
<div class="row">
	<div class="large-4 columns miniMarquee">
		<h3>Business Cards</h3>
		<div class="productBoxImg"><%= image_tag("main_card.jpg") %></div>
	</div>
	<div class="large-4 columns miniMarquee">
		<h3>Marketing Collateral</h3>
	</div>
	<div class="large-4 columns miniMarquee">
		<h3>Direct Mail</h3>
	</div>
</div>