<%= provide(:title, "Services") %>

<div class="row">
	<div class="large-12 columns">
		<h1>Services Offered</h1>
	</div>
</div>
<div class="thinSpacerRow"></div>
<div class="row prodDesc">
	<div class="large-3 columns">
		<h3>Business Cards</h3>
		<div class="productBoxImg"><%= image_tag("main_card.jpg") %></div>
	</div>
	<div class="large-9 columns">
		<p>When you meet a potential customer, employee, vendor or parter, the first impression you make is entirely up to you. But part of that impression - the only lasting, tangible part - is your business card. We take the care to consistently produce cards you'll be proud to share.</p>
		<ul>
			<li>Single- or double-sided</li>
			<li>Card weight up to XX</li>
			<li>Matte to glossy finish</li>
			<li>Lots sizes from 100 to 5,000</li>
		</ul>
	</div>
</div>
<div class="thinSpacerRow"></div>
<div class="row prodDesc">
	<div class="large-3 columns">
		<h3>Marketing Collateral</h3>
		<div class="productBoxImg"><%= image_tag("main_card.jpg") %></div>
	</div>
	<div class="large-9 columns">
		<p>Even in an increasingly online world, buyers of big ticket items expect the high-quality imagery and detailed information that only paper can provide. Whether you sell real estate, medical services, furniture or business services, Color Craze can produce impactful collateral that will help you close sales.</p>
		<ul>
			<li>Formats include single-sided fliers, folded brochures, stapled booklets and small to medium posters</li>
			<li>Sizes from X to Y</li>
			<li>Matte to glossy finish</li>
			<li>Lots sizes from 100 to 2,500</li>
		</ul>
	</div>
</div>
<div class="thinSpacerRow"></div>
<div class="row prodDesc">
	<div class="large-3 columns">
		<h3>Direct Mail</h3>
		<div class="productBoxImg"><%= image_tag("main_card.jpg") %></div>
	</div>
	<div class="large-9 columns">
		<p>Get around email inbox clutter and spam filters with old-fashioned, but effective, paper mail. We offer full service direct mail services for small (&lt10,000 pieces), including printing, stuffing and mailing.</p>
		<ul>
			<li>Postcards, business-sized or irregular envelopes</li>
			<li>Cardstock or paper</li>
			<li>Color or black and white</li>
			<li>Mailings from from 100 to 2,500 pieces</li>
		</ul>
	</div>
</div>
