<% provide(:title, 'All users') %>

<div class="row">
	<div class="large-10 large-offset-1 columns">

		<h1>All users</h1>

		<div class="row">
			<div class="small-1 columns">
				<h6>ID</h6>
			</div>
			<div class="small-3 columns">
				<h6>Name</h6>
			</div>
			<div class="small-3 columns">
				<h6>Company</h6>
			</div>
			<div class="small-1 small-offset-1 columns text-centered">
				<h6>Type</h6>
			</div>
			<div class="small-1 columns text-centered">
				<h6>Q's</h6>
			</div>
			<div class="small-3 columns">
			</div>
		</div>

		<%= will_paginate %>

		<ul class="users">
				<%= render @users %>
		</ul>

		<%= will_paginate %>

	</div>
	<div class="large-1 columns">
	</div>
</div>
<div class="thinSpacerRowWhite">
</div>
