<% if object.errors.any? %>
	<div class="error_explanation">
		<fieldset>
			<legend>Please fix the errors below</legend>
			<ul>
				<% object.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
				<% end %>
			</ul>
		</fieldset>
	</div>
<% end %>