$lightGray: #AAA;
$lighterGray: #CCC;
$grayMediumLight: #eaeaea;
$CTA: #9FEE00;


@mixin box_sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}


nav.top-bar.expanded section.top-bar-section ul.left li>a {
	background-color: $topbar-bg;
	color: white;
}

nav.top-bar.expanded section.top-bar-section ul.right li>a {
	background-color: $CTA;
	color: black;
}

section.top-bar-section ul.right li a.li-CTA {
	background-color: $CTA;
	color: black;
	&:hover {
		background-color: darken($CTA, 7%);
	}
}

section.top-bar-section ul.right .divider {
	border-right: solid 1px lighten($CTA, 10%);
	border-left: solid 1px darken($CTA, 10%);
	border-bottom: none;
	border-top: none;
	clear: none;
	height: 45px;
	width: 0;
}

nav.top-bar.expanded section.top-bar-section ul.right .divider {
	border-right: none;
	border-left: none;
	border-bottom: solid 1px darken($CTA, 10%);
	border-top: solid 1px lighten($CTA, 10%);
	clear: none;
	height: 1px;
	width: 100%;
}

.logged-in-nav {
	background-color: darken($grayMediumLight,20%);
	height: 30px;
	font-size: emCalc(12px);

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		display: block;
		float: right;

		li {
			float: left;
			margin: emCalc(10px);
			a {
				color: black;
				font-weight: normal;
			}
		}
	}
}

.bkgdWhite {
	background-color: white;
}

.lighterGray {
	background-color: $lighterGray;
}

.body_container {
	background-color: white;
	padding: 0;
	margin: 0;
}

.thinSpacerRow {
	height: emCalc(10px);
	background-color: #F4F4F4;
}

.thinSpacerRowWhite {
	height: emCalc(20px);
	background-color: white;
}

#mainMarquee {
	padding: 10px;
	min-height: 286px;
	background-size: 583px 286px;
	background-image: url(/assets/texas_bkgd.jpg);
	h1 {
		font-size: emCalc(23px);
	}
	ul {
		padding-left: 25px;
	}
}

#cigarBand {
	background-color: #C9F76F;
	padding: emCalc(5px) 0;
	text-align: center;
	h3 {
		font-style: italic;
		font-size: emCalc(20px);
		padding: 0;
		margin: 0;
	}
}

.miniMarquee {
	height: auto;
	h3 {
		text-align: center;
		font-size: emCalc(16px);
	}
	img {
		margin: 0 auto;
		display: block;
		float: center;
	}
}

#quoteBox {
	background-color: white;
	text-align: center;
	margin-top: 0;
}

.addressBlock {
	text-align: right;
	font-size: emCalc(14px);
	padding: 0;
	margin: emCalc(10px) emCalc(10px) emCalc(10px) 0;
	line-height: 125%;
}

.foot {
	padding-top: emCalc(15px);
	text-align: center;
	font-size: emCalc(12px);
	margin-top: 0;
	margin-bottom: 0;
	border-top: 1px solid black;
}

.logo {
	margin: 0 0 0 emCalc(10px);
	line-height: 75%;

	h3 {
		font-size: emCalc(32px);
		margin: 0;
		padding: 0;
		font-weight: bold;

		a, a.visited {
			color: black;
		}
	}

	h4 {
		font-size: emCalc(16px);
		margin: 0;
		padding: 0;
	}
}

.prodDesc {
	background-color: white;
	h2 {
		font-size: emCalc(16px);
		font-weight: bold;
		padding: 0;
		margin: 0;
		text-align: center;
	}

	img {
		padding: 0;
		margin: 0 auto;
		display: block;
		float: center;
	}

	p {
		font-size: emCalc(14px);
		padding: 0;
		margin: 0;
	}

	ul {
		padding: 0;
		margin: 0 0 0 emCalc(25px);
	}

	li {
		font-size: emCalc(14px);
		font-weight: normal;
		padding: 0;
		margin: 0;
	}
}

.prodDescBox {
	margin: emCalc(16px) emCalc(10px) emCalc(10px) emCalc(5px);
}

#signature {
	text-align: right;
}

.postFooter {
	background-color: #F4F4F4;

	h3 {
		font-size: emCalc(14px);
		font-weight: bold;
		color: #666;
	}

	p {
		font-size: emCalc(14px);
		color: #666;
	}
}


/*  miscellaneous  */

.debug_dump {
	clear: both;
	float: left;
	width: 100%;
	margin: 45px auto;
	@include box_sizing;
}


/* forms */

input[type="text"].smallTextInput {
}

input[type="text"].stdTextInput {
}

input[type="text"].lrgTextInput {
	width: emCalc(480px);
}


form.custom {
	.custom.dropdown {
		width: 100%;
	}

	#commentBox {
		width: 100%;
		height: emCalc(90px);
		vertical-align: top;
		cols: 40;
	}
}

.field_with_errors {
	label {
		@include form-label-error-color($alert-color);
	}
	input {
		@include form-error-color($alert-color);
	}
}

.error_explanation {
  color: $alert-color;

  ul {
    margin: 0 0 18px 15px;
  }
}


/* users index */

.users {
	list-style: none;
	font-size: emCalc(12px);
	margin: 0;
	padding: 0;
	li {
		overflow: auto;
		padding: 10px 0;
		margin: 0;
		border-top: 1px solid $lighterGray;
		&:last-child {
			border-bottom: 1px solid $lighterGray;
		}
	}
}

.user-index-cell {
	height: 1.6em;
	width: 100%;
}


/* quotes index */

.quotes {
	list-style: none;
	margin: 0;
	padding: 0;
	li {
		overflow: auto;
		padding: emCalc(10px) 0;
		margin: 0;
		border-top: 1px solid $lighterGray;
		font-size: emCalc(12px);
		&:last-child {
			border-bottom: 1px solid $lighterGray;
		}
	}
}

#instructions {
	background-color: white;
}

.cc-address {
	list-style: none;
}

.proper_indent {
	margin-left: emCalc(30px);
}

.text-centered {
	text-align: center;
}
