
<div class="row" id="foot">
	<div class="large-12 columns">
		<p>Like our website? Click <a href="http://www.madisonandmainst.com">here</a>.<br>
			Copyright 2013 Color Craze</p>
	</div>
</div>